.home {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(248, 248, 248);
}

.container {
    width: min(100%, 450px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    box-shadow: 0 0.7px 1.4px rgba(0, 0, 0, 0.024),
        0 1.9px 4px rgba(0, 0, 0, 0.035), 0 4.5px 9.6px rgba(0, 0, 0, 0.046),
        0 15px 32px rgba(0, 0, 0, 0.07);
}

.time {
    font-size: 2em;
    background-color: #fff;
    padding: 12px 18px;
    border-radius: 100px;
    z-index: 1;
    min-width: 120px;
    text-align: center;
    box-shadow: 0 0.7px 1.4px rgba(0, 0, 0, 0.024),
        0 1.9px 4px rgba(0, 0, 0, 0.035), 0 4.5px 9.6px rgba(0, 0, 0, 0.046),
        0 15px 32px rgba(0, 0, 0, 0.07);
}

.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 360px;
    min-height: 360px;
}

.statusLabel {
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 22px;
}

.startStopButton {
    border: 0px;
    padding: 18px 32px;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: #212529;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: 120ms ease-in-out;
    box-shadow: 0px 0px 0px 0rem #ced4da;
}

.startStopButton:active {
    background-color: #343a40;
}

.startStopButton:focus {
    box-shadow: 0px 0px 0px 0.2rem #ced4da;
}

svg {
    position: absolute;
}

svg .ticks {
    animation: tick 15s linear infinite forwards;
    transform-origin: center center;
}

@keyframes tick {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
