.home {
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #fff;
}

.container {
    width: min(100%, 450px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    font-size: 2em;
    background-color: #fff;
    padding: 12px 18px;
    border-radius: 100px;
    z-index: 1;
    box-shadow: 0 0.7px 1.4px rgba(0, 0, 0, 0.024),
        0 1.9px 4px rgba(0, 0, 0, 0.035), 0 4.5px 9.6px rgba(0, 0, 0, 0.046),
        0 15px 32px rgba(0, 0, 0, 0.07);
}

svg {
    position: absolute;
}

.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 360px;
    min-height: 360px;
}

svg .ticks {
    animation: tick 15s linear infinite forwards;
    transform-origin: center center;
}

@keyframes tick {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
