.time {
    font-size: 2em;
    background-color: #fff;
    padding: 12px 18px;
    border-radius: 100px;
    z-index: 1;
    min-width: 120px;
    text-align: center;
    box-shadow: 0 0.7px 1.4px rgba(0, 0, 0, 0.024),
        0 1.9px 4px rgba(0, 0, 0, 0.035), 0 4.5px 9.6px rgba(0, 0, 0, 0.046),
        0 15px 32px rgba(0, 0, 0, 0.07);
}

.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 360px;
    min-height: 360px;
    animation: entry 600ms ease-out;
}

@keyframes entry {
    from {
        transform: scale(1.5) rotate(30deg);
        opacity: 0;
    }
    to {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}

svg {
    position: absolute;
}
